module {{ .Module }}

go 1.26.0

require (
{{- range .Requires }}
	{{ . }}
{{- end }}
)
{{ if .HTTP }}
tool github.com/oapi-codegen/oapi-codegen/v2/cmd/oapi-codegen

require github.com/oapi-codegen/oapi-codegen/v2 v2.8.0
{{ end -}}
{{ if .Proto }}
tool (
	github.com/bufbuild/buf/cmd/buf
	google.golang.org/grpc/cmd/protoc-gen-go-grpc
	google.golang.org/protobuf/cmd/protoc-gen-go
)
{{ end -}}
