ORDERS_API_DB_PRIMARY_KIND=postgres
ORDERS_API_DB_PRIMARY_POSTGRES_DSN=
ORDERS_API_DB_PRIMARY_POSTGRES_MIGRATIONS_URL=
ORDERS_API_DEPLOYMENT_ENVIRONMENT=development
ORDERS_API_HEALTH_ADDR=:8081
ORDERS_API_HEALTH_SERVER_ENABLED=true
ORDERS_API_HTTP_ADDR=:8080
ORDERS_API_HTTP_SERVER_ENABLED=true
ORDERS_API_LOG_LEVEL=info
ORDERS_API_PPROF_ADDR=127.0.0.1:6060
ORDERS_API_PPROF_ENABLED=false
ORDERS_API_SERVICE_VERSION=dev
ORDERS_API_TELEMETRY_ENABLED=false
